.container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.section {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--color-primary);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.scrollContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
  flex-grow: 1;
}

.cardContainer {
  display: flex;
  gap: 20px; /* Space between cards */
  /* flex-wrap: nowrap; Keep all cards in a single row */
  overflow: hidden;
}

.gridCardContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Set to 7 cards in a row */
  gap: 20px; /* Space between cards */
  padding: 20px 0; /* Padding for top and bottom */
}

.carouselControl {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #00ff00;
  cursor: pointer;
}

.carouselIcon {
  font-size: 2rem;
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

@media (min-width: 768px) {
  .gridCardContainer {
    grid-template-columns: repeat(7, 1fr); /* Ensure 7 cards on medium screens */
  }
}

@media (min-width: 1024px) {
  .gridCardContainer {
    grid-template-columns: repeat(7, 1fr); /* Ensure 7 cards on larger screens */
  }
}

@media (min-width: 1200px) {
  .gridCardContainer {
    grid-template-columns: repeat(7, 1fr); /* Ensure 7 cards on extra-large screens */
  }
}