.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Wrapper for the Hero section */
.hero-wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 74px;
  padding: 0 20px;
  box-sizing: border-box;
  /* width: 1440px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 74px; */
}

/* Wrapper for album sections (Top Albums and New Albums) */
.album-sections {
  width: 100%;
  /* max-width: 1440px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
  box-sizing: border-box;
  /* width: 100%; /* Make it responsive to screen width */
  /* margin: 24px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 20px;
  box-sizing: border-box; */
}

.album-section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive columns */
  gap: 16px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-black); /* Background color if needed */
  /* color: white; Text color */
  /* padding: 0 20px; */
/* } */

:root {
  --color-black: #000;
  --color-green: #4CAF50;
  --color-dark-green: #388E3C;
  --color-primary: #4CAF50;
}

body {
  background-color: var(--color-black);
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scroll on small screens */
}
