.songsSection {
    padding: 20px;
    text-align: left;
}

.songsTitle {
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
}

/* Genre Tabs */
.genreTabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.genreTab {
    background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.genreTab:hover {
    background-color: #444444;
}

.activeTab {
    background-color: #00ff00;
    color: #2c2c2c;
}

/* Carousel Container and Controls */
.carouselContainer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cardsContainer {
    display: flex;
    overflow: hidden; /* Prevent scrollbar from showing */
    width: calc(100% - 80px); /* Adjust for button width */
    padding: 10px 0;
    gap: 10px;
}

.albumCard {
    width: calc((100% / 7) - 20px); /* Width to fit 7 cards with a gap */
    background-color: #2c2c2c;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    flex-shrink: 0; /* Prevent card from shrinking */
    height: 150px; /* Set a height to match the cards in Section */
}

.albumCard:last-child {
    margin-right: 0; /* Remove margin from the last card */
}

.albumImage {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
}

.albumTitle {
    font-size: 16px; /* Adjust font size for better fit */
    margin: 10px 0;
}

.albumArtists {
    font-size: 12px; /* Adjust font size for better fit */
    margin: 5px 0;
}

.albumLikes {
    font-size: 12px; /* Adjust font size for better fit */
    color: #ccc;
}

.noSongsMessage {
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

/* Carousel Controls */
.carouselControl {
    background: transparent;
    border: none;
    font-size: 24px;
    color: #00ff00;
    cursor: pointer;
    margin: 0 10px; /* Spacing between button and cards */
    z-index: 1; /* Ensure buttons are above the cards */
}

.carouselControl:disabled {
    color: #888;
    cursor: not-allowed;
}
