
.songsSection {
    padding: 20px;
    text-align: left;
}

.songsTitle {
    font-size: 24px;
    margin-bottom: 16px;
    color: white;
}

.tabs {
    margin-bottom: 20px;
}

.MuiTabs-root {
    border-bottom: 1px solid #3f0101;
}

.MuiTab-root {
    font-weight: bold;
    text-transform: none;
    margin-right: 16px;
}

.genre {
    color: white; /* Ensures all genre text is white */
    font-size: 16px; 
    margin: 5px 0; /* Adds some spacing between genres */
}
