.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 200px;
  height: 250px;
  background-color: #1a1a1a;
  color: #fff;
  align-items: center;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #333;
}

.title {
  font-size: 0.9rem;
  text-align: center;
  color: #ddd;
  margin: 8px 0;
}

.footer {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  padding: 8px;
  background-color: #fff;
}

.chip {
  padding: 5px;
  font-size: 0.75rem;
  background-color: black;
  color: white;
}