.hero {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0;
}

.hero img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    gap: 20px;
  }
  .hero h2 {
    font-size: 3rem;
  }
}